@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* overflow: hidden; */
}

.main {
  /* background-color: #000000; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(/main-bg.jpg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
